<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-archetype"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=org.xerial"/>
        <listEntry value="artifactId=sqlite-jdbc"/>
        <listEntry value="version=3.41.2.1"/>
        <listEntry value="package=org.xerial.sqlite_jdbc"/>
        <listEntry value="outputDirectory=C:\Users\CHO\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\CHO\AppData\Local\Temp\m2e-archetypeGenerator15729110989004795200"/>
</launchConfiguration>
